* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../buildinggraphics/citygamebg.jpeg') no-repeat center center/cover;
  overflow: hidden;
}

.container {
  background: rgba(80, 125, 125, 0.9);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 90%;
  max-width: 800px; /* Increased max-width */
  max-height: 90vh; /* Ensure it doesn't overflow the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 100%;
  aspect-ratio: 1; /* Ensures the grid is square */
  margin: 20px 0;
}

.grid-cell {
  background-color: #ddd;
  border: 1px solid #afafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  cursor: pointer;
}

.grid-cell img {
  max-width: 100%;
  max-height: 100%;
}

.grid-cell.selected {
  background-color: red;
}

.grid-cell:hover {
  background-color: black;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

button, a button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: black;
  width: auto;
  flex: 1;
  margin: 0 5px;
}

button:hover, a button:hover {
  opacity: 0.8;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.popup-heading {
  margin-bottom: 20px;
  color: black;
  font-size: 18px;
  text-align: center;
}

.popup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.popup button {
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.popup .text-container {
  margin-bottom: 5px;
}

.popup .image-container {
  width: 80px;
  height: 80px;
}

.popup button img {
  max-width: 100%;
  max-height: 100%;
}

.popup button span {
  display: block;
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.popup button:hover {
  transform: scale(1.1);
}

.popup button:hover span {
  color: black;
}

.grid-cell.Residential {
  background-color: #ffa;
}

.grid-cell.Industry {
  background-color: #aaf;
}

.grid-cell.Commercial {
  background-color: #afa;
}

.grid-cell.Park {
  background-color: rgb(241, 170, 255);
}

.grid-cell.Road {
  background-color: #4e4e4e;
  color: white;
}

.options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.option {
  flex: 1;
  background-color: #ddd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option img {
  max-width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.option:hover {
  background-color: #ccc;
}
