body {
  background-color: #e0bb99;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.page-title {
  text-align: center;
  padding-bottom: 3%;
  font-size: 64px;
  color: rgb(46, 46, 46);
}



.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

a {
  text-decoration: none;
}

.container {
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
  margin-left: 100px;
}

.model-image {
  width: 600px;
  height: 500px;
  background-image: url('../buildinggraphics/3dmodel.png');
  background-size: cover;
  background-position: center;
  margin-left: 10%;
}

h1 {
  margin-bottom: 20px;
}

button {
  text-decoration: none;
  display: block;
  margin: 0px auto;
  margin-top: 5%;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 50px;
  box-shadow: 0 0 0 2px #000;
}

button:hover {
  opacity: 0.8;
}

.arcade-button {
  background-color: #99BEE0;
  color: #000;
}

.free-play-button {
  background-color: #D3D3D3;
  color: #000;
}

.load-game-button {
  background-color: #99BEE0;
  color: #000;
}

.leaderboard-button {
  background-color: #D3D3D3;
  color: #000;
}

.help-button {
  background-color: #99BEE0;
  color: black;
}

.login-button {
  background-color: #fd7e50;
  color: #fff;
}

/* Overlay styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup-heading {
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
}

.popup {
  background: #eeeeee;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.popup input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.popup button {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.popup button#loginSubmitBtn {
  background-color: #99BEE0;
  color: #000;
}

.popup button#loginCancelBtn {
  background-color: #99BEE0;
  color: #000;
  margin-top: 10px;
}

.popup button#loginSubmitBtn:hover,
.popup button#loginCancelBtn:hover {
  background-color: #26629b;
  color: white;
}